.gcm-modal__top-container-custom {
  display: flex;
  align-items: center;
  justify-content: space-between;
  &-title {
    font-family: 'titlecommerce';
    text-transform: uppercase;
    font-weight: 600;
    font-size: 14px;
  }
}
