@use '@toshida/material' as mat;

@import url(https://fonts.googleapis.com/icon?family=Material+Icons);

// mat.$red-palette
// mat.$green-palette
// mat.$blue-palette
// mat.$yellow-palette
// mat.$cyan-palette
// mat.$magenta-palette
// mat.$orange-palette
// mat.$chartreuse-palette
// mat.$spring-green-palette
// mat.$azure-palette
// mat.$violet-palette
// mat.$rose-palette

$matTheme: mat.$cyan-palette;

$theme: mat.define-theme(
  (
    color: (
      primary: $matTheme,
      tertiary: mat.$green-palette,
    ),
  )
);

html {
  @include mat.theme(
    (
      color: $matTheme,
      density: 0,
    )
  );
}

[color='primary'] {
  @include mat.button-theme($theme: $theme, $color-variant: 'primary');
  @include mat.icon-button-theme($theme: $theme, $color-variant: 'primary');
  @include mat.fab-theme($theme: $theme, $color-variant: 'primary');
}

[color='accent'] {
  @include mat.button-theme($theme: $theme, $color-variant: 'tertiary');
  @include mat.icon-button-theme($theme: $theme, $color-variant: 'tertiary');
  @include mat.fab-theme($theme: $theme, $color-variant: 'tertiary');
}

[color='warn'] {
  @include mat.button-theme($theme: $theme, $color-variant: 'error');
  @include mat.icon-button-theme($theme: $theme, $color-variant: 'error');
  @include mat.fab-theme($theme: $theme, $color-variant: 'error');
}

html {
  color-scheme: light;
}

html[data-theme='dark'] {
  color-scheme: dark;
}
