@if (!showAddVivienda && !showAddFamiliar) {
  <div class="tab-container ion-padding">
    <section class="tab-content">
      <ion-toolbar>
        <ion-label>
          <b>ULTIMOS {{ dataSource.data.length }} JEFES DE HOGAR ENCUESTADOS</b><br />
          <div class="overflow-ellipsis" style="font-size: 12px">
            <span style="font-size: 10px">{{ lastUpdate }}</span
            ><br />
          </div>
        </ion-label>

        <ion-buttons slot="end">
          <ion-button (click)="fetch(true)">
            <ion-icon name="refresh-outline"> </ion-icon>
          </ion-button>
        </ion-buttons>
      </ion-toolbar>

      <ion-item>
        <ion-searchbar
          animated="true"
          [(ngModel)]="filter"
          (ngModelChange)="applyFilter()"
          placeholder="Buscar"
        ></ion-searchbar>
      </ion-item>
    </section>
  </div>

  <div #datasourceContent>
    <div>
      @for (data of dataSource.filteredData; track $index) {
        <app-jefes-hogar-usuario-card
          [data]="data"
          [index]="$index + 1"
          (onAddVivienda)="clickOnAddVivienda(data)"
          (onAddFamiliar)="clickOnAddFamiliar(data)"
        />
      }
    </div>
  </div>
}
@if (showAddFamiliar || showAddVivienda) {
  <div class="top-container">
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-button (click)="clickOnBack()">
          <ion-icon name="arrow-back-outline"></ion-icon>
        </ion-button>
      </ion-buttons>
      <b>{{ encuesta.nombre }}</b>
    </ion-toolbar>
  </div>

  <div class="ion-padding buttons-container">
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-button
          [disabled]="preguntaSeleccionadaIndex === 1"
          (click)="updateQuestion('previous')"
        >
          <ion-icon name="arrow-back-outline"></ion-icon>
        </ion-button>
      </ion-buttons>
      <ion-title> P. {{ preguntaSeleccionadaIndex }}/{{ encuesta.preguntas.length }} </ion-title>
      <ion-buttons slot="end">
        <ion-button
          [class.d-none]="preguntaSeleccionadaIndex === encuesta.preguntas.length"
          [disabled]="
            (preguntaSeleccionada.tipo !== tiposPregunta.COMPLEMENTADA &&
              !preguntaSeleccionada.hasRespuesta) ||
            (preguntaSeleccionada.tipo === tiposPregunta.COMPLEMENTADA &&
              !preguntaSeleccionada.complementadaHasRespuestas)
          "
          (click)="updateQuestion('next')"
        >
          <ion-icon name="arrow-forward-outline"></ion-icon>
        </ion-button>
        <ion-button
          [class.d-none]="preguntaSeleccionadaIndex !== encuesta.preguntas.length"
          [disabled]="
            (preguntaSeleccionada.tipo !== tiposPregunta.COMPLEMENTADA &&
              !preguntaSeleccionada.hasRespuesta) ||
            (preguntaSeleccionada.tipo === tiposPregunta.COMPLEMENTADA &&
              !preguntaSeleccionada.complementadaHasRespuestas)
          "
          (click)="sendData()"
        >
          <ion-icon name="send-outline"></ion-icon>
        </ion-button>
      </ion-buttons>
    </ion-toolbar>
  </div>

  <div class="ion-padding">
    @if (!destroyComponent) {
      @if (preguntaSeleccionada.complemento.length) {
        <div>
          <b>{{ preguntaSeleccionada.nombre }}</b>
          @if (preguntaSeleccionada.descripcion) {
            <br />
            <span>{{ preguntaSeleccionada.descripcion }}</span>
          }
        </div>
        <br />
        @for (item of preguntaSeleccionada.complemento; track $index) {
          <app-pregunta
            [raiz]="preguntaSeleccionada"
            [pregunta]="item"
            [preguntas]="encuesta.preguntas"
            (respuestaUpdated)="updateObservable()"
          ></app-pregunta>
        }
      } @else {
        <app-pregunta
          [pregunta]="preguntaSeleccionada"
          [preguntas]="encuesta.preguntas"
          (respuestaUpdated)="updateObservable()"
        ></app-pregunta>
      }
    }
  </div>
}
