<div class="gcm-set-permisos-dialog">
  <gcm-dismiss-dialog-button (dismiss)="onClose()">
    <div style="width: 200px; margin-left: 10px; margin-bottom: -15px">
      <tak-general-field type="filter" [formControl]="filter">
        Filtrar por modulo
      </tak-general-field>
    </div>
  </gcm-dismiss-dialog-button>

  <div mat-dialog-content>
    @for (permiso of dataSource.filteredData; track $index) {
      <div>
        <!-- Modulos -->
        @if (permiso.tipo.code === 1) {
          <div>
            <mat-divider />
            <div class="bolder titlecommerce" style="display: flex; align-items: center">
              <mat-icon>radio_button_checked</mat-icon> {{ permiso.descripcion }}
            </div>
          </div>
        }
        <!-- Submodulos -->
        @if (permiso.tipo.code === 2) {
          <div>
            <div class="bolder titlecommerce">{{ permiso.descripcion }}</div>
          </div>
        }
        <!-- Permisos -->
        @if (permiso.tipo.code === 3) {
          <div>
            <mat-checkbox
              class="gcm-set-permisos-dialog--mat-checkbox"
              [disabled]="permiso.isByRol === true"
              [checked]="permiso.isActive"
              (change)="onTogglePermiso(permiso, $event.checked)"
            >
              <span class="titlecommerce">
                {{ permiso.descripcion }}
              </span>
            </mat-checkbox>
          </div>
        }
      </div>
    }
  </div>
</div>
