.app-set-permisos-dialog {
  .app-set-permisos-dialog--mat-checkbox {
    .mat-checkbox-layout {
      white-space: normal;
    }
  }

  .app-modal__top-container-custom {
    display: flex;
    align-items: center;
    justify-content: space-between;
    &-title {
      font-family: 'titlecommerce';
      text-transform: uppercase;
      font-weight: 600;
      font-size: 14px;
    }
  }
}
