@import 'node_modules/@ionic/angular/css/core.css';
@import 'node_modules/@ionic/angular/css/normalize.css';
@import 'node_modules/@ionic/angular/css/typography.css';
@import 'node_modules/@ionic/angular/css/display.css';
@import 'node_modules/@ionic/angular/css/padding.css';
@import 'node_modules/@ionic/angular/css/float-elements.css';
@import 'node_modules/@ionic/angular/css/text-alignment.css';
@import 'node_modules/@ionic/angular/css/text-transformation.css';
@import 'node_modules/@ionic/angular/css/flex-utils.css';

:root {
  --toolbar-principal-background-color: var(--ion-color-primary);
  --toolbar-principal-color: #ffffff;
  --toolbar-sidebar-background-color: #ffffff;
  --toolbar-sidebar-color: var(--ion-color-primary);
  --sidebar-acorddion-arrow-color: rgba(0, 0, 0, 0.25);
  --loader-overlay-backdrop-background-color: rgba(255, 255, 255, 0.3);
  --bg-home: rgb(255, 255, 255, 0.7);
}

:root {
  --ion-custom-background: #fafafa;
  --ion-background-color: #fafafa;

  --ion-color-primary: rgb(10, 161, 174);
  --ion-color-primary-rgb: 56, 128, 255;
  --ion-color-primary-contrast: #ffffff;
  --ion-color-primary-contrast-rgb: 255, 255, 255;
  --ion-color-primary-shade: rgb(8, 119, 129);
  --ion-color-primary-tint: rgb(120, 203, 211);

  --ion-color-secondary: #3dc2ff;
  --ion-color-secondary-rgb: 61, 194, 255;
  --ion-color-secondary-contrast: #ffffff;
  --ion-color-secondary-contrast-rgb: 255, 255, 255;
  --ion-color-secondary-shade: #36abe0;
  --ion-color-secondary-tint: #50c8ff;

  --ion-color-tertiary: #5260ff;
  --ion-color-tertiary-rgb: 82, 96, 255;
  --ion-color-tertiary-contrast: #ffffff;
  --ion-color-tertiary-contrast-rgb: 255, 255, 255;
  --ion-color-tertiary-shade: #4854e0;
  --ion-color-tertiary-tint: #6370ff;

  --ion-color-success: #2dd36f;
  --ion-color-success-rgb: 45, 211, 111;
  --ion-color-success-contrast: #ffffff;
  --ion-color-success-contrast-rgb: 255, 255, 255;
  --ion-color-success-shade: #28ba62;
  --ion-color-success-tint: #42d77d;

  --ion-color-warning: #ffc409;
  --ion-color-warning-rgb: 255, 196, 9;
  --ion-color-warning-contrast: #000000;
  --ion-color-warning-contrast-rgb: 0, 0, 0;
  --ion-color-warning-shade: #e0ac08;
  --ion-color-warning-tint: #ffca22;

  --ion-color-danger: #eb445a;
  --ion-color-danger-rgb: 235, 68, 90;
  --ion-color-danger-contrast: #ffffff;
  --ion-color-danger-contrast-rgb: 255, 255, 255;
  --ion-color-danger-shade: #cf3c4f;
  --ion-color-danger-tint: #ed576b;

  --ion-color-dark: #222428;
  --ion-color-dark-rgb: 34, 36, 40;
  --ion-color-dark-contrast: #ffffff;
  --ion-color-dark-contrast-rgb: 255, 255, 255;
  --ion-color-dark-shade: #1e2023;
  --ion-color-dark-tint: #383a3e;

  --ion-color-medium: #92949c;
  --ion-color-medium-rgb: 146, 148, 156;
  --ion-color-medium-contrast: #ffffff;
  --ion-color-medium-contrast-rgb: 255, 255, 255;
  --ion-color-medium-shade: #808289;
  --ion-color-medium-tint: #9d9fa6;

  --ion-color-light: #f4f5f8;
  --ion-color-light-rgb: 244, 245, 248;
  --ion-color-light-contrast: #000000;
  --ion-color-light-contrast-rgb: 0, 0, 0;
  --ion-color-light-shade: #d7d8da;
  --ion-color-light-tint: #f5f6f9;

  --ion-default-border-color: rgb(0, 0, 0, 0.12);
  --ion-default-background: #ffffff;
}

body.tak-dark-theme {
  --ion-color-primary: rgb(10, 161, 174);
  --ion-color-primary-rgb: 66, 140, 255;
  --ion-color-primary-contrast: #ffffff;
  --ion-color-primary-contrast-rgb: 255, 255, 255;
  --ion-color-primary-shade: rgb(8, 119, 129);
  --ion-color-primary-tint: rgb(120, 203, 211);

  --ion-color-secondary: #50c8ff;
  --ion-color-secondary-rgb: 80, 200, 255;
  --ion-color-secondary-contrast: #ffffff;
  --ion-color-secondary-contrast-rgb: 255, 255, 255;
  --ion-color-secondary-shade: #46b0e0;
  --ion-color-secondary-tint: #62ceff;

  --ion-color-tertiary: #6a64ff;
  --ion-color-tertiary-rgb: 106, 100, 255;
  --ion-color-tertiary-contrast: #ffffff;
  --ion-color-tertiary-contrast-rgb: 255, 255, 255;
  --ion-color-tertiary-shade: #5d58e0;
  --ion-color-tertiary-tint: #7974ff;

  --ion-color-success: #2dd36f;
  --ion-color-success-rgb: 47, 223, 117;
  --ion-color-success-contrast: #000000;
  --ion-color-success-contrast-rgb: 0, 0, 0;
  --ion-color-success-shade: #28ba62;
  --ion-color-success-tint: #42d77d;

  --ion-color-warning: #ffd534;
  --ion-color-warning-rgb: 255, 213, 52;
  --ion-color-warning-contrast: #000000;
  --ion-color-warning-contrast-rgb: 0, 0, 0;
  --ion-color-warning-shade: #e0bb2e;
  --ion-color-warning-tint: #ffd948;

  --ion-color-danger: #eb445a;
  --ion-color-danger-rgb: 255, 73, 97;
  --ion-color-danger-contrast: #ffffff;
  --ion-color-danger-contrast-rgb: 255, 255, 255;
  --ion-color-danger-shade: #cf3c4f;
  --ion-color-danger-tint: #ed576b;

  --ion-color-dark: #f4f5f8;
  --ion-color-dark-rgb: 244, 245, 248;
  --ion-color-dark-contrast: #000000;
  --ion-color-dark-contrast-rgb: 0, 0, 0;
  --ion-color-dark-shade: #d7d8da;
  --ion-color-dark-tint: #f5f6f9;

  --ion-color-medium: #989aa2;
  --ion-color-medium-rgb: 152, 154, 162;
  --ion-color-medium-contrast: #000000;
  --ion-color-medium-contrast-rgb: 0, 0, 0;
  --ion-color-medium-shade: #86888f;
  --ion-color-medium-tint: #a2a4ab;

  --ion-color-light: #222428;
  --ion-color-light-rgb: 34, 36, 40;
  --ion-color-light-contrast: #ffffff;
  --ion-color-light-contrast-rgb: 255, 255, 255;
  --ion-color-light-shade: #1e2023;
  --ion-color-light-tint: #383a3e;

  --ion-custom-background: #171b22;
  --ion-background-color: #171b22;
  --ion-background-color-rgb: 0, 0, 0;

  --ion-text-color: #cecece;
  --ion-text-color-rgb: 255, 255, 255;

  --ion-color-step-50: #0d0d0d;
  --ion-color-step-100: #252735;
  --ion-color-step-150: #171b22;
  --ion-color-step-200: #333333;
  --ion-color-step-250: #404040;
  --ion-color-step-300: #4d4d4d;
  --ion-color-step-350: #595959;
  --ion-color-step-400: #666666;
  --ion-color-step-450: #737373;
  --ion-color-step-500: #808080;
  --ion-color-step-550: #8c8c8c;
  --ion-color-step-600: #999999;
  --ion-color-step-650: #a6a6a6;
  --ion-color-step-700: #b3b3b3;
  --ion-color-step-750: #bfbfbf;
  --ion-color-step-800: #cccccc;
  --ion-color-step-850: #d9d9d9;
  --ion-color-step-900: #e6e6e6;
  --ion-color-step-950: #f2f2f2;

  --ion-default-border-color: rgb(255, 255, 255, 0.12);
  --ion-toolbar-background: var(--ion-color-step-150);
  --ion-overlay-background-color: #171b22;
  --ion-default-background: #171b22;
  --ion-item-background: #171b22;
}

ion-card {
  border: 1px solid var(--ion-default-border-color);
  --background: var(--ion-default-background);
  box-shadow:
    rgba(50, 50, 93, 0.25) 0px 2px 5px -1px,
    rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
  margin-top: 10px;
  margin-bottom: 10px;
}

ion-toolbar {
  --background: var(--ion-toolbar-background);
}

.loading-wrapper,
.loading-wrapper.sc-ion-loading-ios {
  background: var(--ion-default-background);
}

.div-ion-card {
  border: 1px solid var(--ion-default-border-color);
  --background: var(--ion-default-background);
  box-shadow:
    rgba(50, 50, 93, 0.25) 0px 2px 5px -1px,
    rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
  margin: 20px;
  border-radius: 10px;
}

ion-content {
  --ion-background-color: var(--ion-custom-background);
}

body.tak-dark-theme {
  --toolbar-principal-background-color: rgb(1, 4, 9);
  --toolbar-sidebar-background-color: rgba(1, 4, 9, 0.95);
  --sidebar-acorddion-arrow-color: rgba(255, 255, 255, 0.25);
  --bg-home: #171b22;
  .action-sheet-button.sc-ion-action-sheet-ios {
    background: #171b22 !important;
  }
  .home_image {
    filter: brightness(60%);
  }
  ion-icon {
    color: white !important;
  }
}

body:not(.is-web) * {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-tap-highlight-color: transparent;
  -webkit-touch-callout: none;
}

body:not(.is-web) {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  padding-bottom: 0;
  position: fixed;
  width: 100%;
  max-width: 100%;
  height: 100%;
  max-height: 100%;
  transform: translateZ(0);
  text-rendering: optimizeLegibility;
  overflow: hidden;
  touch-action: manipulation;
  -webkit-user-drag: none;
  -ms-content-zooming: none;
  word-wrap: break-word;
  overscroll-behavior-y: none;
  -webkit-text-size-adjust: none;
  text-size-adjust: none;
}

html:not(.is-web) {
  width: 100%;
  height: 100%;
  -webkit-text-size-adjust: 100%;
  text-size-adjust: 100%;
}

html:not(.hydrated):not(.is-web) body {
  display: none;
}
html.ion-ce:not(.is-web) body {
  display: block;
}

html.plt-pwa:not(.is-web) {
  height: 100vh;
}

.is-mobile {
  .tab {
    &-card {
      ion-card-header {
        padding: 10px 10px 0px 10px;
        + .card-content-ios {
          padding: 0px 10px 5px 10px;
        }
      }
      ion-card-subtitle {
        font-size: 10px;
      }
      ion-card-title {
        font-size: 12px;
      }
      ion-card-content {
        font-size: 12px;
      }
    }
  }

  .gcm__admin-layout__not-exist {
    display: none !important;
  }
  .input-clear-icon.sc-ion-input-md {
    height: 0px !important;
  }
  .input-wrapper.sc-ion-input-md {
    background: none;
  }
  .ion-valid.sc-ion-input-md-h {
    --highlight-color: rgb(10, 161, 174);
  }
}
.bg-primary {
  background-color: var(--ion-color-primary) !important;
  color: var(--ion-color-primary-contrast) !important;
}
.bg-success {
  background-color: var(--ion-color-success) !important;
  color: var(--ion-color-success-contrast) !important;
}
.bg-danger {
  background-color: var(--ion-color-danger) !important;
  color: var(--ion-color-danger-contrast) !important;
}

ion-router-outlet > .hibrid-mob-web {
  padding: 20px;
}
