.app-manage-encuestas-web {
  .container--scroll {
    max-height: calc(100vh - 280px);
    overflow: auto;
  }
  .mat-checkbox-disabled .mat-checkbox-label {
    color: var(--tak-dark-color-500);
  }
  .top-container {
    max-height: 35px;
    > div {
      text-align: center;
      padding: 15px 15px 0 15px;
    }
  }
  .buttons-container {
    max-height: 60px;
    --overflow: hidden;
  }
  .question-title-container {
    max-height: 80px;
    > div {
      padding: 15px 15px 0 15px;
    }
  }
}
