/* You can add global styles to this file, and also import other style files */
@use '../libraries/components/assets/material/material';
@use '../libraries/components/assets/assets';
@use '../libraries/components/assets/layouts/admin-takkion';
@use '../libraries/components/assets/layouts/access-control';
@use '../public/ionic';
